.footer-carson {
    // border: 1px red solid;
    display: flex;
    justify-content: space-between;
    background-color: #2D2D2D;
    width: 100%;
    position: relative;
}

.footer-carson .copy{
    // border: 1px red solid;
    width: 49.5%;
    text-align: right;
    color: white;
    padding: 1% 0;
    
}

.contact {
    // border: 1px red solid;
    width: 49.5%;
    display: flex;
    justify-content: space-between;
    color: #67E6A1;
    padding: 1% 0;
}
.contact p{
    display:flex;
    justify-content: space-between;
}

.contactus {
    margin-right: 4%;
}
.icon {
    height: 2vh;
    margin-top: 5px;
    margin-right: 4px;
}

@media @phone {
    .footer-carson{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .copy {
        align-items: center;
        margin-right: 90px;;
    }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

