header {
   

    .heading {
        display: flex;
        justify-content: space-between;
        padding: 6%;
    }
    img{
        width: 100%;
    }

    h1 {
        font-size: 2rem;
        margin-bottom: 3%;
    }

    p{
        color: @main-font-color;
    }

    .btn {
        .custom-btn(15%);
    }
}

.mid-section {
    .m1 {
        
    }

    .m2 {

    }

    .m3 {

    }
}