
.topcontent {
    // border:2px solid red;
    width: 100%;
    display: flex;
    padding: 3% 3%;
    background: linear-gradient(38.54deg, #FFFFFF 21.78%, #D1D1D1 113.31%);
}

.firstpic{
    width:50%;
    // border:2px solid red;
}

.topcontenttext {
    width: 40%;
    margin-top: 7%;
    // border:2px solid red;
}
 .topcontenttext h2{
     color: #00A35E;
 }

 .topcontenttext button{
    .custom-btn(50%);
    text-decoration: none;

}

.secondcontent {
    width: 100%;
    display: flex;
    padding: 5% 1%;
    justify-content: space-evenly;

}

.firstbox {
    background-color: #FAFAFA;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.editicon {
    width:10%;
    margin-left: 35%;
    padding: 10% 10%;
    margin-top: 7%;
}

.secondbox {
    background-color: #FAFAFA;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.calendar{
    width:10%;
    margin-left: 35%;
    padding: 10% 10%;
}


.thirdbox {
    background-color: #FAFAFA;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.graph {
    width:10%;
    margin-left: 35%;
    padding: 10% 10%;
}


.thirdcontent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 4%;
    background-color: #FAFAFA;
}

.thirdcontenttext {
    width: 50%;
    margin-left: 8%;
   
}

.thirdcontenttext h2{
    color: #219653;
}

.thirdcontenttext button{
    .custom-btn(35%);
    text-decoration: none;

    @media @mobile {
        .custom-btn(40%);
    }
}

.phonepic{
    position: relative;
    margin-top: 80px;
    margin-bottom: -60px;
    margin-right: 5%;
    width: 30%;

    @media @i-pad {
            display: none;
    }
}


@media @tablet{

    // * {
    //     border: 1px solid red;
    // }

    .topcontentpic {
        // border:1px solid red;
        width: 100%;
    }

    .phonepic {
        display: none;
    }

    .thirdcontent {
        width: 100%;
        
    }

}

@media @phone{
    
    .firstpic{
        width: 60%;
        margin-left: -15%;
        margin-top: 5%;
    }
    .topcontenttext{
        width: 60%;
    }

    .secondcontent{
        display: flex;
        flex-direction: column;
        }
        .firstbox{
            width: 95%;
            margin-left: 1.5%;
            // border: 1px red solid;
        }
        .secondbox{
            width: 95%;
            margin-left: 1.5%;
            // border: 1px red solid;
        }
        .thirdbox{
            width: 95%;
            margin-left: 1.5%;
            // border: 1px red solid;
        }
        .thirdcontent{
            margin-bottom: 15%;
            width: 100%;
        }
        .thirdcontenttext {
            width: 100%;
        }
}
