
    nav {
        width: 100%;
        background-color: @main-color;
        padding: 1%;
        
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media @mobile {
            
        }
        
    h2 {
        color: @background-color;
        font-size: 1.6rem;
        margin-top: 7px;
    }

    a {
        color: @background-color;
        justify-content: space-between;
        text-decoration: none;
        font-size: 1.9rem;
        margin-left: 40px;
    }
  }
}